* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&subset=cyrillic,cyrillic-ext');
html,body {
	overflow: hidden;
	height: 100%;
	background-color: #fefefe;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #fff;
	background-color: black;
}

#cubeTransition {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
	
#cubeTransition div {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-size: 5em;
	color: #fff;
	visibility: hidden;
	transition:opacity 5ms;
}

#cubeTransition h2 {
	position: relative;
	top: 200px;
	margin: 0;
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
}

.page1 {
	background: #89b32f;
}

.page2 {
	background: #dc6c5f;
}

.page3 {
	background: #64b9d2;
}

.page4 {
	background: green;
}


.visible{
	visibility: visible !important;
}

.rotateCubeTopOut {
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	animation: rotateCubeTopOut 1s both ease-in;
	-webkit-animation: rotateCubeTopOut 1s both ease-in;
}

.rotateCubeTopIn {
	transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	animation: rotateCubeTopIn 1s both ease-in;
	-webkit-animation: rotateCubeTopIn 1s both ease-in;
}

.rotateCubeBottomOut {
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: rotateCubeBottomOut 1s both ease-in;
	animation: rotateCubeBottomOut 1s both ease-in;
}

.rotateCubeBottomIn {
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: rotateCubeBottomIn 1s both ease-in;
	animation: rotateCubeBottomIn 1s both ease-in;
}

@keyframes rotateCubeTopOut {
	50% {
		animation-timing-function: ease-out;
		transform: translateY(-50%) translateZ(100px) rotateX(45deg);
	}

	100% {
		opacity: .3;
		transform: translateY(-100%) rotateX(90deg);	
	}
	
}

@-webkit-keyframes rotateCubeTopOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(100px) rotateX(45deg);
	}

	100% {
		opacity: .3;
		-webkit-transform: translateY(-100%) rotateX(90deg);	
	}
	
}

@keyframes rotateCubeTopIn {
	0% {
		opacity: .3;
		transform: translateY(100%) rotateX(-90deg);
	}

	50% {
		animation-timing-function: ease-out;
		transform: translateY(50%) translateZ(100px) rotateX(-45deg);
	}
}

@-webkit-keyframes rotateCubeTopIn {
	0% {
		opacity: .3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}

	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(100px) rotateX(-45deg);
	}
}

@keyframes rotateCubeBottomOut {
	50% {
		animation-timing-function: ease-out;
		transform: translateY(50%) translateZ(100px) rotateX(-45deg);
	}

	100% {
		opacity: .3;
		transform: translateY(100%) rotateX(-90deg);
	}
}

@-webkit-keyframes rotateCubeBottomOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(100px) rotateX(-45deg);
	}

	100% {
		opacity: .3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}
}

@keyframes rotateCubeBottomIn {
	0% {
		opacity: .3;
		transform: translateY(-100%) rotateX(90deg);
	}

	50% {
		animation-timing-function: ease-out;
		transform: translateY(-50%) translateZ(100px) rotateX(45deg);
	}
}
@-webkit-keyframes rotateCubeBottomIn {
	0% {
		opacity: .3;
		-webkit-transform: translateY(-100%) rotateX(90deg);
	}

	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(100px) rotateX(45deg);
	}
}

#bullets {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

#bullets li {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 3px;
	background: rgba( 255, 255, 255, 0.5 );
	box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
	cursor: pointer;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

#bullets li:hover {
	background: rgba( 255, 255, 255, 0.8 );
}

#bullets li.active {
	cursor: default;
	background: #fff;
}

.credit {
	position: absolute;
	bottom: 24px;
	right: 24px;
	margin: 0;
	z-index: 1;
	font-size: 0.9em;
}

.credit a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 10px;
	}

	#cubeTransition h2 {
		font-size: 1em;
	}

	.bullets li {
		margin: 0 6px;
	}

	.credit {
		bottom: initial;
		top: 10px;
		right: 10px;
	}

	.share,
	.github-ribbon {
		display: none;
	}
}


/*-------------*/







.wrap2 {
background-color: white;
perspective: 800px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -80px;
margin-top: -80px;
z-index: 600001;
pointer-events: none;
}
.boxcube2 {
position: relative;
width: 160px;
-webkit-transform-style: preserve-3d;
-webkit-transform: translate3d(0,0,0);
-webkit-transform-origin: 80px 80px 0;
-webkit-transform-origin: 80px 80px 0;
-webkit-animation: spin 1.8s infinite ease-in-out;
}
.boxcube2 div {
position: absolute;
width: 160px;
height: 160px;
color: white;
text-align: center;
line-height: 80px;
font-size: 34px;
display: flex;
justify-content: center;
align-items: center;
border-width: 3px !important;
border-color: black; 
}
.boxfront {
-webkit-transform: translateZ(80px);
-webkit-backface-visibility: hidden;
}
.boxback {
-webkit-transform: translateZ(-80px) rotateY(180deg);
-webkit-backface-visibility: hidden;
}
.boxtop {
-webkit-transform: rotateX(-90deg) translateY(-80px);
-webkit-transform-origin: top center;
-webkit-backface-visibility: hidden;
}
.boxbottom {
-webkit-transform: rotateX(90deg) translateY(80px);
-webkit-transform-origin: bottom center;
-webkit-backface-visibility: hidden;
}
.boxleft {
-webkit-transform: rotateY(270deg) translateX(-80px);
-webkit-transform-origin: center left;
-webkit-backface-visibility: hidden;
}
.boxright {
-webkit-transform: rotateY(-270deg) translateX(80px);
-webkit-transform-origin: top right;
-webkit-backface-visibility: hidden;
}
.face2 {
position: absolute;
width: 100%;
height: 100%;
background-color: #000;
opacity: 0.2;
}

@-webkit-keyframes spin {
	0% { 
	-webkit-transform: rotateY(0deg); 
	}
	/*50% {
	-webkit-transform: rotateY(-180deg);
	}*/
	50% { 
	-webkit-transform: rotateY(-360deg);
	}
	
	100% { 
	-webkit-transform: rotateY(-360deg);
	}
}




.preloaderLogo {
	width: 80%;
	margin-bottom: 10px;
}

.preloader {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: #FDD835;
	top: 0;
	display: none;
	left: 0;
	z-index: -10000;
}

.page1 {
	display: flex;
	justify-content: center;
	background: url(../img/main.jpg);
	background-size: cover;
}

.page2 {
	display: flex;
	justify-content: center;
	background: url(../img/cement1.jpg);
	background-size: cover;
}
.page3 {
	display: flex;
	justify-content: center;
	background: url(../img/tovariuslugi.jpg);
	background-size: cover;
}

.page4 {
	display: flex;
	justify-content: center;
	background: url(../img/pesokBlack.jpg);
	background-size: cover;
}


