@import url('https://fonts.googleapis.com/css?family=Marmelad&subset=cyrillic');
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Marmelad', sans-serif;
    overflow-x: hidden;
}

bold {
    color: rgb(3, 48, 136);
}

red {
    color: #FF3D3D;
}

.left {
    width: 50%;
    float: left;
}

.header {
    height: 100%;
}

.right {
    width: 50%;
    float: right;
}

.swiftIcon {
    width: 70%;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

header .image-responsive {
    margin-top: 70px;
    width: auto;
    height: 100%;
}

#top h1 {
    color: #3977B9;
}

#top h3 {
    color: #fff;
}

#footer {
    height: 300px;
    background-color: whitesmoke;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#footer #map {
    height: 300px;
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: #FF3D3D;
    box-shadow: -4px 5px 10px 2px black;
    border-radius: 3px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: #fc1d1d;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

.call-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border-color: blue;
    transition: box-shadow 0.5s ease;
    border-width: 0px;
    background-color: rgb(3, 48, 138);
    color: #fff;
    font-size: 25px;
}

.call-btn:hover {
    -webkit-box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}


/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* About */

.about {
    padding: 50px 0;
}


/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}


/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 200px;
    color: #fff;
    background: linear-gradient(rgba(3, 48, 100, 0.7), rgba(3, 48, 100, 0.7)), url('../img/bg.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.callout404 {
    display: table;
    width: 100%;
    height: 700px;
    color: #fff;
    background: linear-gradient(rgba(3, 48, 100, 0.7), rgba(3, 48, 100, 0.7)), url('../img/404.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.calloutWeb {
    display: table;
    width: 100%;
    height: 200px;
    color: #fff;
    background: linear-gradient( rgba(3, 48, 100, 0.7), rgba(3, 48, 100, 0.7)), url('../img/web.jpeg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.calloutPlan {
    display: table;
    width: 100%;
    height: 200px;
    color: #fff;
    background: linear-gradient( rgba(3, 48, 100, 0.7), rgba(3, 48, 100, 0.7)), url('../img/plan.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.calloutAboutPlan {
    display: table;
    width: 100%;
    height: 100%;
    color: #333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    background: linear-gradient(270deg, #008fff, #ce7bff);
    background-size: 400% 400%;
}

.schedule {
    width: 60%;
}

@media screen and (max-device-width: 1024px) {
    .schedule {
        width: 100%;
        left: 0;
    }
    h1 {
        font-size: 34px !important;
    }
    .call-btn {
        right: 20px;
        bottom: 20px;
        font-size: 14px;
    }
    .calloutPlan {
        background: linear-gradient( rgba(3, 48, 100, 0.7), rgba(3, 48, 100, 0.7)), url('../img/plan-min.jpg') no-repeat center center scroll;
    }
    .calloutWeb {
        background: linear-gradient( rgba(3, 48, 100, 0.7), rgba(3, 48, 100, 0.7)), url('../img/web-min.jpeg') no-repeat center center scroll;
    }
    .callout {
        background: linear-gradient(rgba(3, 48, 100, 0.7), rgba(3, 48, 100, 0.7)), url('../img/bg-min.jpg') no-repeat center center scroll;
    }
}

.my-modal {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    position: fixed;
    width: 250px;
    height: 115px;
    color: #fff;
    top: -200;
    right: 0;
    opacity: 0;
}

#toFooter {
    text-decoration: none;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.textContainer {
    height: 430px;
    line-height: 400px;
}

.textContainer h3,
{
    vertical-align: middle;
    display: inline-block;
}

.textContainermap {
    height: 300px;
    line-height: 300px;
}

.textContainermap h4 {
    vertical-align: middle;
    display: inline-block;
}

.calloutAboutSwift {
    padding-top: 20px;
    padding-bottom: 40px;
    display: block;
    width: 100%;
    height: auto;
    color: #333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.icon {
    margin-bottom: 30px;
}

#man {
    background-image: url(../img/foggy_birds.png);
    background-size: initial;
    background-repeat: repeat;
}


/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}


/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}


/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}


/* Footer */

footer {
    padding: 30px 0;
}

#to-top {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#header {
    margin-bottom: 0;
    padding: 30px 0 60px 0;
}

#header .navbar-inverse .container {
    position: relative;
}

.search {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
}

.search i {
    color: #00aeef;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 2px;
}

.field-toggle {
    position: relative;
    top: 30px;
    right: 15px;
    display: none;
    height: 50px;
}

.search-form {
    padding-left: 10px;
    height: 40px;
    font-size: 18px;
    color: #818285;
    font-weight: 300;
    outline: none;
    border: 1px solid #00aeef;
    margin-top: 20px;
    border-radius: 4px;
}

.social-icons ul li {
    padding: 0 10px;
}

.social-icons ul li:last-child {
    padding-right: 0;
}

.social-icons ul li a {
    font-size: 18px;
    color: #d3d3d3;
    padding: 0;
}

.social-icons ul li a:hover .fa-facebook {
    color: #0884d5;
}

.social-icons ul li a:hover .fa-twitter {
    color: #2AA7DC;
}

.social-icons ul li a:hover .fa-google-plus {
    color: #A22523;
}

.social-icons ul li a:hover .fa-dribbble {
    color: #E94989;
}

.social-icons ul li a:hover .fa-linkedin {
    color: #006DC0;
}

.social-icons ul li a:hover,
.social-icons ul li a:focus {
    background: none;
}

#header .navbar {
    background: transparent;
    border: 0;
    margin-bottom: 0;
}

#header .navbar-toggle {
    margin-top: 20px;
}

#header .navbar-brand {
    padding: 0;
    margin-left: 0;
}

#header .navbar-brand h1 {
    padding: 0;
    margin: 0;
}

#header .navbar-nav.navbar-right >li:last-child {
    margin-right: 20px;
}

#header .navbar-nav.navbar-right >li a {
    color: #000;
    font-size: 12px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

#header .navbar-inverse .navbar-nav li.active > a,
#header .navbar-inverse .navbar-nav li.active > a:focus,
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
    background-color: inherit;
    border: 0;
    color: #00aeef;
}

#header .navbar-inverse .navbar-nav li a:hover {
    color: #00aeef;
}

#header .navbar-inverse .navbar-nav li > a {
    color: #fff;
}


/*  Dropdown menu*/

ul.sub-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

#header .navbar-nav li ul.sub-menu li a {
    color: #818285;
    padding: 5px 0;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
}

#header .navbar-nav li ul.sub-menu li .active {
    background: #00aeef;
    color: #fff;
    position: relative;
}

#header .navbar-nav li ul.sub-menu li .active i {
    position: absolute;
    font-size: 56px;
    top: -13px;
    color: #0884d5;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-right {
    left: -3px;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-left {
    right: -3px;
}

#header .navbar-nav li ul.sub-menu li a:hover,
#header .navbar-nav li ul.sub-menu li a:focus {
    background: #00aeef;
    color: #fff;
}

.fa-angle-down {
    padding-left: 5px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

video {
    z-index: -11;
    position: absolute;
    height: 100%;
    width: auto;
    left: 0px;
    top: 0px;
    object-fit: cover;
}

#about {
    background-image: url(../img/geometry2.png);
    background-repeat: repeat;
    background-size: initial;
}

@media (max-width: 767px) {
    video {
        display: none;
    }
    .main {
        background-color: grey;
        height: auto !important;
        text-align: center;
    }
    #header .navbar-brand {
        padding: 0;
        margin-left: 15px;
    }
}

red {
    color: #FF5454;
}

blue {
    color: #266398;
}

.main {
    height: 100%;
}

.images .swiftIcon {
    width: 50%;
}
