@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,500&subset=cyrillic-ext');

* {
	margin: 0;
	padding: 0;
}

html,body {
	overflow: hidden;
	height: 100%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
	background-color: #fefefe;
	font-size: 16px;
	color: #fff;
	background-color: black;
}

#cubeTransition {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
	
#cubeTransition .page1, .page2, .page3, .page4  {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-size: 4em;
	color: #fff;
	visibility: hidden;
	transition:opacity 5ms;
}


#cubeTransition h2 {
	position: relative;
	top: 200px;
	margin: 0;
	font-size: 1em;
	text-align: center;
	text-shadow: 2px 2px 8px black; 
}

.page1 h2 {
	position: relative;
	top: 0px !important;
}

.page1  h5 {
	font-size: .5em;
	margin-top: 20px;
	color: rgba(255,255,255,0.3);
}

.page1 .mainText {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
}

.page1 {
	background: #89b32f;
	height: 100vh;

}



.page2 {
	background: #dc6c5f;
}

.page3 {
	background: #64b9d2;
}

.page4 {
	background: green;
}


.visible{
	visibility: visible !important;
}

.rotateCubeTopOut {
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	animation: rotateCubeTopOut 1s both ease-in;
	-webkit-animation: rotateCubeTopOut 1s both ease-in;
}

.rotateCubeTopIn {
	transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	animation: rotateCubeTopIn 1s both ease-in;
	-webkit-animation: rotateCubeTopIn 1s both ease-in;
}

.rotateCubeBottomOut {
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: rotateCubeBottomOut 1s both ease-in;
	animation: rotateCubeBottomOut 1s both ease-in;
}

.rotateCubeBottomIn {
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: rotateCubeBottomIn 1s both ease-in;
	animation: rotateCubeBottomIn 1s both ease-in;
}

@keyframes rotateCubeTopOut {
	50% {
		animation-timing-function: ease-out;
		transform: translateY(-50%) translateZ(100px) rotateX(45deg);
	}

	100% {
		opacity: .3;
		transform: translateY(-100%) rotateX(90deg);	
	}
	
}

@-webkit-keyframes rotateCubeTopOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(100px) rotateX(45deg);
	}

	100% {
		opacity: .3;
		-webkit-transform: translateY(-100%) rotateX(90deg);	
	}
	
}

@keyframes rotateCubeTopIn {
	0% {
		opacity: .3;
		transform: translateY(100%) rotateX(-90deg);
	}

	50% {
		animation-timing-function: ease-out;
		transform: translateY(50%) translateZ(100px) rotateX(-45deg);
	}
}

@-webkit-keyframes rotateCubeTopIn {
	0% {
		opacity: .3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}

	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(100px) rotateX(-45deg);
	}
}

@keyframes rotateCubeBottomOut {
	50% {
		animation-timing-function: ease-out;
		transform: translateY(50%) translateZ(100px) rotateX(-45deg);
	}

	100% {
		opacity: .3;
		transform: translateY(100%) rotateX(-90deg);
	}
}

@-webkit-keyframes rotateCubeBottomOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(100px) rotateX(-45deg);
	}

	100% {
		opacity: .3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}
}

@keyframes rotateCubeBottomIn {
	0% {
		opacity: .3;
		transform: translateY(-100%) rotateX(90deg);
	}

	50% {
		animation-timing-function: ease-out;
		transform: translateY(-50%) translateZ(100px) rotateX(45deg);
	}
}
@-webkit-keyframes rotateCubeBottomIn {
	0% {
		opacity: .3;
		-webkit-transform: translateY(-100%) rotateX(90deg);
	}

	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(100px) rotateX(45deg);
	}
}

#bullets {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

#bullets li {
	display: inline-block;
	width: 20px;
	height: 20px;
	transition: all .5s;
	border-radius: 50%;
	margin: 0 3px;
	background: rgba(255, 218, 0, 0.5);
	box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
	cursor: pointer;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

#bullets li:hover {
	background: rgba( 255, 255, 255, 0.8 );
}

#bullets li.active {
	cursor: default;
	background: #FFDA00;
}



@media screen and (max-width: 500px) {
	body {
		font-size: 10px;
	}

	#cubeTransition h2 {
		font-size: 1em;
	}

	.bullets li {
		margin: 0 6px;
	}

	
	
}


/*-------------*/







.wrap2 {
background-color: white;
perspective: 800px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -80px;
margin-top: -80px;
z-index: 600001;
pointer-events: none;
}
.boxcube2 {
position: relative;
width: 160px;
-webkit-transform-style: preserve-3d;
-webkit-transform: translate3d(0,0,0);
-webkit-transform-origin: 80px 80px 0;
-webkit-transform-origin: 80px 80px 0;
-webkit-animation: spin 1.8s infinite ease-in-out;
}
.boxcube2 div {
position: absolute;
width: 160px;
height: 160px;
color: white;
text-align: center;
line-height: 80px;
font-size: 34px;
display: flex;
justify-content: center;
align-items: center;
border-width: 3px !important;
border-color: black; 
}
.boxfront {
-webkit-transform: translateZ(80px);
-webkit-backface-visibility: hidden;
}
.boxback {
-webkit-transform: translateZ(-80px) rotateY(180deg);
-webkit-backface-visibility: hidden;
}
.boxtop {
-webkit-transform: rotateX(-90deg) translateY(-80px);
-webkit-transform-origin: top center;
-webkit-backface-visibility: hidden;
}
.boxbottom {
-webkit-transform: rotateX(90deg) translateY(80px);
-webkit-transform-origin: bottom center;
-webkit-backface-visibility: hidden;
}
.boxleft {
-webkit-transform: rotateY(270deg) translateX(-80px);
-webkit-transform-origin: center left;
-webkit-backface-visibility: hidden;
}
.boxright {
-webkit-transform: rotateY(-270deg) translateX(80px);
-webkit-transform-origin: top right;
-webkit-backface-visibility: hidden;
}
.face2 {
position: absolute;
width: 100%;
height: 100%;
background-color: #000;
opacity: 0.2;
}

@-webkit-keyframes spin {
	0% { 
	-webkit-transform: rotateY(0deg); 
	}
	/*50% {
	-webkit-transform: rotateY(-180deg);
	}*/
	50% { 
	-webkit-transform: rotateY(-360deg);
	}
	
	100% { 
	-webkit-transform: rotateY(-360deg);
	}
}




.preloaderLogo {
	width: 80%;
	margin-bottom: 10px;
}

.preloader {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: #FDD835;
	top: 0;
	left: 0;
	z-index: 10000;
}

.page1 {
	justify-content: center;
	background: url(../img/main.jpg);
	background-size: cover;
}

.page2 {
	justify-content: center;
	background: url(../img/cement1.jpg);
	background-size: cover;
}
.page3 {
	justify-content: center;
	background: url(../img/tovariuslugi.jpg);
	background-size: cover;
}

.page4 {
	justify-content: center;
	background: url(../img/pesokBlack.jpg);
	background-size: cover;
}


a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #FFDA00;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: rgba(255,255,255,.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

nav {
	height: 0px;
}


.logo {
	position: absolute;
	bottom: 70px;
	right: 70px;
	z-index: 999;
	width: 20%;
	height: 20%;

}

.loop {
	top:300px;
	width: 50% !important;
	margin: 0 auto;
}

.item {
	background-color: rgba(255,255,255, 1);
	border-radius: 3px;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
}

.half {
	position: relative;
	width: 60%;
	left: 0px;
	height: 100vh;
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
 	transform-style: preserve-3d;
	text-align:center;
}

.half .text {
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
}

.half a {
	display: block;
	color: white;
	font-size: .5em;
	position: relative;
  	
}

