ul {
	display: inline;
	background-color: #7E5AC9;
}

li {
	display: inline;
	margin-right: 100px;
	background-color: #00FFDA;
	color: white;
	border: 2px solid;
	border-color: red;

}

.active {
	float: right;
}